/* NAVIGATION */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 0 10rem;
}

.navigation__btn {
  border: none;
  background: none;
  display: none;
}


.navigation__logo {
  font-size: 2rem;
  font-weight: 900;
  word-spacing: 5px;
  letter-spacing: 1px;
  color: #37b24d;
}

.navigation__links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 8rem;
  background-color: white;
  transition: all 0.5s ease-in;
}


.navigation__link {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
}

/* HOME SECTION */
.home {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #d3f9d8, #69db7c);
}

.home__info {
  flex: 50%;
}

.home__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.home__icon {
  font-size: 3rem;
  color: #444;
}

.home__image {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__image img {
  width: 40%;
  border-radius: 50%;
  background-color: white;
}

/* SERVICES SECTION */
.card__icon {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.card__description {
  display: block;
  text-align: center;
  line-height: 3rem;
  font-size: 1.5rem;
}

/* SECTION PROJECTS# */
.projects {
  background-color: #d3f9d8;
}

.card__image {
  width: 100%;
  height: 30rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.card__image img {
  width: 100%;
  height: 100%;
}

/* SECTION ABOUT */
.about__container {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  border-radius: 5px;
}

.about__image {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__image img {
  width: 80%;
  border: 3px solid #37b24d;
  border-radius: 50%;
}

.about__decription {
  width: 80%;
  font-size: 1.7rem;
  line-height: 4rem;
}

.about {
  background-color: #d3f9d8;
}

/* SECTION FOOTER */
.footer {
  padding: 10rem;
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 6rem;
}

.footer__icon {
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

.footer__copyright {
  text-align: center;
  font-size: 1.5rem;
  word-spacing: 5px;
}
